{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,300&display=swap" rel="stylesheet" href="css/estilos.css">
    <script src="https://kit.fontawesome.com/753c9785ba.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <title>Home</title>

<body style="background-image: url(../static/img/background.jpg);";>

   <!--NAVBAR-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href=""></a>
        <img src="{% static 'img/icon.png' %}" alt="" width="100">
        <h1 class="tittle ">Plantitas</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"></button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">    
            {% if user.is_authenticated %}
            <li class="nav-item" style="margin-right: 25px; margin-left: 25px;">
              <label for="" style="color: #ffffff;"> Bienvenido {{ user.username }}</label>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Categorias</a>
                <ul class="dropdown-menu">                        
                  <li><a class="dropdown-item" href="{% url 'productos' %}">Productos</a></li>
                  <hr>
                  <li><a class="dropdown-item" href="#arboles">Arboles</a></li>
                  <li><a class="dropdown-item" href="#maceteros">Maceteros</a></li>
                  <li><a class="dropdown-item" href="#decoraciones">Decoraciones</a></li>
                  <li><a class="dropdown-item" href="#tierra">Tierra</a></li>
                  <li><a class="dropdown-item" href="#fertilizantes">Fertilizantes </a></li>
                  <li><a class="dropdown-item" href="#herramientas">Herramientas</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'historial' %}">Historial de Compras</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'carrito' %}">Carrito</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Salir</a>
              </li>
            </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item"></li>
                <a class="nav-link" href="{% url 'login' %}">Ingresar</a>
              </li>
              <li class="nav-item"></li>
                <a class="nav-link" href="{% url 'registration' %}">Registrar</a>
              </li>
            {% endif %}                       
          </ul>
        </div>
      </div>
    </nav> 
  
    <!--CARRUSEL-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/jar2.jpg' %}" class="d-block w-100" alt="" width="100" height="400">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/carrusel1.jpg' %}" class="d-block w-100" alt="" width="100" height="400">
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/jar3.jpg' %}" class="d-block w-100" alt="" width="100" height="400">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>  

  <div class="container-expand-sm p-5 my-6 bg-dark text-white justify-content-center ">
    <h1 class="sss">Conoce nuestros productos!</h1>
    <h4 class="ssss">En nuestra tienda podras encontrar los mejores productos para tu jardín como maceteros, tierra de hojas, flores y arbustos </h4>
  </div>

  <!--CARTAS INICIALES-->
  <div class="container overflow-hidden">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'img/macetero_muestra.jpg' %}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Maceteros</h4>
                    <p class="card-text">Descubre nuestras variedades de maceteros</p>
                    <a href="{% url 'productos' %}" class="btn btn-primary">Ir a comprar</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100" >
                <img class="card-img-top" src="{% static 'img/tierra_hoja_2.jpg' %}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Tierra de hojas</h4>
                    <p class="card-text">Conoce nuestra tierra de hojas de las mejores calidades</p>
                    <a href="{% url 'productos' %}" class="btn btn-primary">Ir a comprar</a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'img/banano.jpg' %}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Arboles</h4>
                    <p class="card-text">Revisa nuestros arbustos para tu jardín</p>
                    <a href="{% url 'productos' %}" class="btn btn-primary">Ir a comprar</a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" src="{% static 'img/manguera.jpg' %}" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Herramientas</h4>
                    <p class="card-text">Descubre nuestras Herramientas para tu jardín</p>
                    <a href="{% url 'productos' %}" class="btn btn-primary">Ir a comprar</a>
                </div>
            </div>
        </div>
    </div>
  </div>

    <!--FOOTER-->
    <div class="footer-expand-lg footer-dark bg-dark">
      <footer>
        <br>
        <label for="">© 2022 Copyright: </label>
        <a href=""> www.PlantitasMagicas.cl</a> <br>
        <a href="ubicacion.html" style="color: #ffffff;"> Ubicacion</a> <br>
        <a href="contacto.html" style="color: #ffffff;">Informacion de Contacto</a>
      </footer>
    </div>
</body>
</html>